<!doctype HTML>
<html lang="ko">
  <head>
    <title>{{ site.name }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.description }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:site_name" content="{{ site.name }}">
    <link rel="canonical" href="{{ post.url }}">
    <meta property="og:url" content="{{ post.url }}">
    <meta property="og:image" content="/profile.png">

    <link rel="icon" type="image/png" href="/profile-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/profile-32.png" sizes="32x32">
    <link rel="stylesheet" href="/screen.css">
  </head>
  <body>
    <main>
      <header>
        <h1>{{ post.title }}</h1>
      </header>
      <section>
        {{ post.content }}
      </section>

      {% if site.recent_posts %}
      <section>
        <h2>Recent posts</h2>
        <ul>
          {% for p in site.recent_posts %}
          <li>{{ p.created_at.strftime('%Y-%m-%d') }} - <a href="{{p.url}}">{{p.title}}</a></li>
          {% endfor %}
        </ul>
      </section>
      {% endif %}
    </main>
  </body>
</html>
