html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: white;

  font-family: monospace;
  line-height: 1.5;
  font-size: 16px;
}

h2,h3 {
  margin-top: 3rem;
}

a {
  color: blue;
}

ul,ol {
  padding-left: 2rem;
}

ul {
  list-style-type: "  - ";
}

p,img {
  max-width: 100%;
}

hr {
  border: none;
  border-top: black 1px solid;
}

main {
  box-sizing: content-box;
  max-width: 640px;
  padding: 2rem;
  margin: 0 auto;
}

footer {
  text-align: center;
}

.contact_field {
  display: inline-block;
  width: 5em;
}

.duration {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: #eee;
  }

  a {
    color: lime;
  }
}
